html{
    background-image: url('https://images.unsplash.com/photo-1625225233840-695456021cde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}
/* css for the container div to look more interesting against the background image  */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
/* css for the h1 tag */
h1{
    font-size: 40px;
    font-weight: bold;
    color: rgb(62, 39, 84);
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input{
    width: 26vw;
    height: 8vh;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    font-size: 20px;
    text-align: end;
    /* give the text inside of the text field to margin right */
    padding: 15px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
button{
    width: 5vw;
    height: 8vh;
    margin : 10px;
    padding : 10px;
    text-align : center;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    font-size: 20px;
    background-color: rgb(240, 238, 238);
    color: black;
    font-weight: bold;
    cursor: pointer;
        
}
button a{
    text-decoration: none;
    color: black;
}
p a{
    text-decoration: none;
    color: black;
    text-decoration: underline;
}
/* add a media query for the website to adjust according to whatever device it is going to open in */
@media screen and (max-width: 1000px){
    .container{
        width: 90vw;
    }
    h1{
        font-size: 30px;
    }
    input{
        width: 51vw;
    }
    button{
        width: 10vw;
    }
}
@media screen and (max-width: 600px){
    .container{
        width: 50vw;
        margin-left: 120px;
    }
    h1{
        font-size: 20px;
    }
    input{
        height: 7vh;
        width: 43vw;
        margin: 5px;
    }
    button{
        width: 8vw;
        font-size: 0.8rem;
        text-align: center;
        margin: 5px;
        padding: 5px;
    }
}
@media screen and (max-width: 400px){
    .container{
        width: 50vw;
    }
    h1{
        font-size: 15px;
    }
    input{
        width: 25vw;
    }
    button{
        width: 6vw;
        height: 5vh;
    }
}
